@font-face {
  font-family: 'Roca';
  src: url('/fonts/Roca/Roca_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, .card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

p, .card-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

button, .btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600 !important;
}