.ContactView{
    justify-content: center;
    width: 100vw;
}

.ContactView .contact-text {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: #1d8c87;
}

.ContactView .red{
    color: red;
}

.ContactView input:focus, .ContactView message:focus{
    border: solid 5px rgba(29, 140, 135, 0.3);
    box-shadow: none;
}

#remaining-char{
    color: #444;
    text-align: right;
    font-size: 0.7rem;
}


.ContactView .btn{
  background-color: transparent;
  border: 2px solid #1d8c87;
  color: #1d8c87;
  font-weight: 500;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
}

.ContactView .btn:hover {
    color: white;
    background: #1d8c87;
}

.ContactView #address{
    background-color: rgba(29, 140, 135, 0.1);
    margin: 2rem 0;
    border-radius: 15px;
    padding: 8px 12px;
}

.ContactView .phoneHelp{
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.ContactView.background{
    background-color: #e1f7f6;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}