.manage-durations .section-header{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.manage-durations h1 {
    text-align: center;
    margin: 0;
}

.manage-durations .add-type-btn{
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    margin-right: auto;
    font-size: larger;
    padding: 0;
}

.manage-durations img{
    width: 100%;
}