.booking-date .rdp-root{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.booking-date .rdp-months{
    width: 100%;
    display: block;
    margin: auto;
}

.booking-date .rdp-footer{
    display: block;
    width: 100%;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgba(146, 253, 185, 0.8);
    padding: 2px;
    border-radius: 50%;
}

.booking-date .rdp-day.rdp-selected {
    background-color: #009688;
}

.booking-date .rdp-day.rdp-selected > .rdp-day_button{
    border:none;
    color: #fff;
}

.booking-date .rdp-day.rdp-today{
   color: #013b35;
    font-weight: 900;
}

.booking-date .rdp-chevron{
    --rdp-accent-color: #009688;
}