.manage-date h1 {
    margin-bottom: 2rem;
    text-align: center;
}
.manage-date .rdp-root{
    margin-bottom: 2rem;
}
.manage-date .rdp-months{
    display: flex;
    justify-content: center;
    margin:auto;
}
.manage-date h2 {
    text-align: center;
}
.manage-date .rdp-footer{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgba(146, 253, 185, 0.8);
    padding: 2px;
    border-radius: 30px;
}
.manage-date .rdp-chevron{
    --rdp-accent-color: #009688;
}

.manage-date .selected-dates{
    flex-direction: column;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0 auto;
    font-size:medium;
    font-weight: 600;
    width: 300px;
}

.manage-date .row{
    margin: 0;
}

.manage-date .col-8{
    background-color: rgb(245, 251, 246);
    border: #009688 1px solid;
    align-items: center;
    display: flex;
    font-weight: 600;
    border-radius: 10px;
}

.manage-date .booked{
    background-color: rgb(255, 193, 193);
}


